# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.lib
*.la
*.a

# Executables
*.exe
*.out
*.app

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
/bin

# To JavaCC
*.class

# Package Files #
*.jar
*.war
*.ear
RubyLikeJavaCC/bin/